<div class="mb-3 column-row">
    <div class="row">
        <div class="col-12 col-sm-7">
            <label>Fonte</label>
            <div class="mb-3">
                <select class="form-control ETL-mode-selector" data-last="1">
                    <option value="none">Selecione um modo</option>
                    <option value="inputNames">Campo(s) da tabela fonte</option>
                    <option value="inputValues">Valor(es) fixo/aleatórios</option>
                </select>
            </div>
            <div class="mb-3 ETL-mode-input" data-mode="inputNames" style="display: none;">
                <input name="ETL[inputNames][]" class="form-control" type="text" placeholder="coluna_origem" />
                <small><abbr
                        title="Use o ',' (vírgula) para concatenar valores ou campos: campo1,campo2,valorA\r\n
Use o ' ' para colocar um espaço em branco: campo1, ,campo2, ,campo3\r\n
Use o '%' para usar o comparador OR somente entre dois campos: campo1%campo2\r\n
Use o '^' para usar o comparador AND somente entre dois campos: campo1^campo2\r\n
Use o '+' para somar dois campos: campo1+campo2\r\n
Use o '-' para subtrair dois campos: campo1-campo2\r\n
Use o '*' para multiplicar dois campos: campo1*campo2\r\n
Use o '/' para dividir dois campos: campo1/campo2">Símbolos</abbr></small>
                <div class="btn-group float-right">
                    <label class="mt-1 checkbox-button" data-colorclass="info" data-state="off" data-inputname="" data-inputclass="ETL-translations-checker">
                        Valores padrões
                    </label>
                    <label class="mt-1 checkbox-button" data-colorclass="success" data-state="off" data-inputname="" data-inputclass="ETL-preg-translations-checker">
                        RegExpr
                    </label>
                </div>
                <div class="mt-3 ETL-translations" style="display: none;">
                    <textarea name="ETL[inputValuesTranslations][]" class="form-control" rows="3" placeholder="valor1=novoValor1
valor2=novoValor2
valor3=novoValor3"></textarea>
                </div>
                <div class="mt-3 ETL-preg-translations" style="display: none;">
                    <textarea name="ETL[inputValuesPregTranslations][]" class="form-control" rows="3" placeholder="/rule1/=translation1
/^rule2/=translation2
/rule3$/=translation3"></textarea>
                </div>
            </div>
            <div class="mb-3 ETL-mode-input" data-mode="inputValues" style="display: none;">
                <textarea name="ETL[inputValues][]" class="form-control" rows="5" placeholder="valor1
valor2
valor3"></textarea>
            </div>
        </div>
        <div class="col-12 d-sm-none">
            <hr/>
        </div>
        <div class="col-12 col-sm-5">
            <label>Saída</label>
            <input name="ETL[outputNames][]" class="form-control" type="text" placeholder="coluna_saída" />
        </div>
    </div>
</div>